<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav class="top_bar">
            <ul>
                <li><a class="active" href="#home">To_Do</a></li>
                <li class="login"><a href="" data-toggle="modal" data-target="#myModal" >로그인</a></li>
            </ul>
        </nav>
        <div class="container">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>할일</th>
                    <th>작성일시</th>
                    <th>수정일시</th>
                    <th>완료처리</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>집안일</td>
                    <td>2012</td>
                    <td>2011</td>
                    <td>V</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</body>
</html>