<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>



</head>
<body>
    <div class="wrapper">

        <nav class="top_bar">
            <ul>
                <li><a class="active" href="#home">To_Do</a></li>
            </ul>
        </nav>

        <div class="container">
            <table id="mytable" class="todo_table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>할일</th>
                        <th>작성일시</th>
                        <th>수정일시</th>
                        <th>완료처리</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="todo : ${todoList}">
                        <td th:text="${todo.id}"></td>
                        <td th:text="${todo.content}"></td>
                        <td th:text="${todo.regdate}"></td>
                        <td th:text="${todo.moddate}"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
<script>
    $(document).ready( function () {
        $('#mytable').DataTable({
            dom : 'Bfrtip',
            buttons: [
                {
                    text: '등록',
                    action: function ( e, dt, node, config ) {

                    }
                }
            ]
        });

    } );
</script>
</html>